.race-track,
.race-grid {
    display: none;
    position: absolute;
}

.race-track {
    left: 44px;
    right: 0;
    top: 42px;
    margin: auto;
    width: 572px;
    height: 402px;
}

.race-grid {
    left: 0;
    right: 0;
    top: 42px;
    margin: auto;
    width: 616px;
    height: 445px;
    border: 1px solid black;
}

.race-row {
    clear: both;
    width: 616px;
}

.race-square {
    text-align: center;
    border: 1px solid black;
    float: left;
    height: 30.5px;
    width: 42px;
    padding-top: 12px;
}

.race-square.track {
    height: 42.5px;
    padding-top: 0;
}

.question {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 487px;
    border: 2px solid black;
    width: 614px;
    height: 200px;
}

.question .text {
    font-size: 40px;
    position: relative;
    top: 10px;
    width: 80%;
    padding: 0 10%;
    text-align: center;
}

.question #answer {
    position: relative;
    top: 20px;
    left: 200px;
    width: 260px;
}

.question.start #answer {
    left: 262px;
}

.question #answer input {
    font-size: 34px;
    width: 100px;
}

.question.choice #answer {
    width: 100%;
    left: 30px;
}

.question #answer button,
.question #answer select {
    font-size: 34px;
}